<section class="program">
    <h2 class="second">Program</h2>
    <p class="text">Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York donut shop!</p>
    <ul class="program_item">
        <li class="program_list">
            <p class="program_text">> A stand up history of donuts</p>
        </li>
        <li class="program_list">
            <p class="program_text">> Make 3 donut flavors of your choice</p>
        </li>
        <li class="program_list">
            <p class="program_text">> Enjoy all-you-can-eat donuts</p>
        </li>
        <li class="program_list">
            <p class="program_text">> Cocktail pairings and coffee included</p>
        </li>
        <li class="program_list">
            <p class="program_text">> Photoshoot by professional photographer</p>
        </li>
        <li class="program_list">
            <p class="program_text">> Secret receipt of cooking from Eva</p>
        </li>
        <li class="program_list">
            <p class="program_text">> All products are included in the price</p>
        </li>
        
    </ul>

    <a href="" class="about_more">Read more</a>
    <ul class="program_item-veiw">
        <li class="program_list-veiw">
            <img src="./images/program/DONUT1/pic1_sm.jpg" alt="donut" class="about_list-img">
            <div class="program_list-one">
                <h3 class="third">Type of the event</h3>
                <p class="program_veiw-text">Cooking classes</p>
                <svg class="program_svg" wight="18">
                    <use href="./images/sprite.svg#icon-chef-hat"></use>
                </svg>
                <svg class="program_ring" wight="130">
                    <use href="./images/sprite.svg#icon-bg-2"></use>
                </svg>
            </div>
            
        </li>
        <li class="program_list-veiw">
            <img src="./images/program/DONUT2/pic2_sm.jpg" alt="donut" class="about_list-img">
            <div class="program_list-one">
                <h3 class="third">Number of guests</h3>
                <p class="program_veiw-text">1 to 20</p>
                <svg class="program_svg">
                    <use href="./images/sprite.svg#icon-people"></use>
                </svg>
                <svg class="program_ring">
                    <use href="./images/sprite.svg#icon-bg-2"></use>
                </svg>
            </div>       
        </li>
        <li class="program_list-veiw">                
            <img src="./images/program/DONUT3/pic3_sm.jpg" alt="donut" class="about_list-img">
            <div class="program_list-one">
            <h3 class="third">Time of the event</h3>
            <p class="program_veiw-text">18:30 (2.5 hours)</p>
            <svg class="program_svg">
                <use href="./images/sprite.svg#icon-clock"></use>
            </svg>
            <svg class="program_ring">
                <use href="./images/sprite.svg#icon-bg-2"></use>
            </svg>
            </div>           
        </li>
        <li class="program_list-veiw ">
            <img src="./images/program/DONUT3/pic3_sm.jpg" alt="donut" class="about_list-img">
           <div class="program_list-one">
            <h3 class="third">The host speaks</h3>
            <p class="program_veiw-text">English, French</p>
            <svg class="program_svg">
                <use href="./images/sprite.svg#icon-chat"></use>
            </svg>
            <svg class="program_ring">
                <use href="./images/sprite.svg#icon-bg-2"></use>
            </svg>
           </div>
        
        
        </li>
    </ul>
</section>