<section class="contacts" >
    <h2 class="second" id="contacts">Contacts</h2>
    <p class="text">We will answer any question!</p>
    <form action="">
    <input type="text" class="regictration_input" placeholder="Email">
    <textarea name="" id="" cols="30" rows="10" class="contacts_enter">Type your question</textarea>
    </form>
    <button class="contacts_btn" type="button"></button>
</section>
<svg class="contacts_svg"><use></use></svg>
<svg class="contacts_svg">
    <use></use>
</svg>
<svg class="contacts_svg">
    <use></use>
</svg>
<address class="contacts_address">
    <a href="" class="contacts_address-phone"><svg class="contacts_address-svg"><use></use></svg>(910)222-8855</a>
    <a href="" class="contacts_address-place"><svg class="contacts_address-svg">
        <use></use>
    </svg>New York</a>
</address>