<header>
    <section class="header">
        <div class="container">
            <div class="header_container">
                <svg class="header_logo" width="90" height="44">
                    <use href="./images/sprite.svg#icon-logo"></use>
                </svg>
                <button class="header_btn" type="button"><svg class="header_btn-svg">
                        <use  href="./images/sprite.svg#icon-menu"></use>
                    </svg></button>
            </div>
        </div>
    </section>

  

</header>