
    <section class="header">
       
        <!-- <div class="container"> -->
            
           
            <!-- <svg ><use class="header_background" href="./images/sprite_bcg.svg#icon-bg" width="320" height="320"></use></svg> -->
            <div class="header_container">
                <div class="header_bcg">
                    <img src='./images/bg (1).svg' alt="bcg" class="header_background">
                <svg class="header_logo" width="90" height="44">
                    <use href="./images/sprite.svg#icon-logo"></use>
                </svg>
                <button class="header_btn" type="button">
                    <svg class="header_btn-svg">
                        <use  href="./images/sprite.svg#icon-menu"></use>
                    </svg>
                </button>
                </div>
                
            </div>
        <!-- </div> -->
    </section>

  

