<section class="hero">
    <div class="container">
        <img src="./images/header/DONUT1/1.jpg" alt="donut" class="hero_picture">
        <img src="./images/header/DONUT2/2.jpg" alt="donut" class="hero_picture">
        <img src="./images/header/DONUT3/3.jpg" alt="donut" class="hero_picture">
        <img src="./images/header/DONUT4/4.jpg" alt="donut" class="hero_picture">
        <img src="./images/header/DONUT5/5.jpg" alt="donut" class="hero_picture">
        <img src="./images/header/DONUT6/6.jpg" alt="donut" class="hero_picture">
        <img src="./images/header/DONUT7/7.jpg" alt="donut" class="hero_picture">
        <img src="./images/header/DONUT8/8.jpg" alt="donut" class="hero_picture">
        <h1 class="hero_title">Donut Masterclass</h1>
        <p class="hero_title">with the Donut King</p>
        <p class="hero_text">Hosted by Eva Green</p>
        <button class="hero_btn" type="button">Register</button>
        <ul class="hero_item">
            <li class="hero_list">
                <a href="" class="hero_logo"><svg class="hero_svg">
                    <use href="./images/sprite.svg#icon-Frame-9"></use>
                </svg></a>
            </li>
            <li class="hero_list">
                <a href="" class="hero_logo"><svg class="hero_svg">
                        <use href="./images/sprite.svg#icon-Frame-8"></use>
                    </svg></a>
            </li>
            <li class="hero_list">
                <a href="" class="hero_logo"><svg class="hero_svg">
                        <use href="./images/sprite.svg#icon-facebook"></use>
                    </svg></a>
            </li>
        </ul>           
       
    </div>
    
</section>