<section class="menu">
    <button class="menu"><svg class="menu_btn"></svg></button>
    <svg class="menu_logo">
        <use></use>
    </svg>
    <ul class="menu_item">
        <li class="menu_item-list">
            <a href="" class="menu_item-link">About us</a>
        </li>
        <li class="menu_item-list">
            <a href="" class="menu_item-link">Program</a>
        </li>
        <li class="menu_item-list">
            <a href="" class="menu_item-link">Reviews</a>
        </li>
        <li class="menu_item-list">
            <a href="" class="menu_item-link">Contacts</a>
        </li>
    </ul>

</section>