<section class="modal ">
    <div class="modal_show">
        <div class="modal_container">
            <svg  class="modal_logo">
                <use href="./images/sprite.svg#icon-logo" ></use>
            </svg>
            <button class="modal_btn" type="button"><svg class="modal_btn-svg">
                <use  href="./images/sprite.svg#icon-menu"></use>
            </svg></button>       
        </div>
        <ul class="modal_list">
            <li class="modal_item">
                <a href="#about">About us</a>
            </li>
            <li class="modal_item">
                <a href="#contacts">Program</a>
            </li>
            <li class="modal_item">
                <a href="reviews">Reviews</a>
            </li>
            <li class="modal_item">
                <a href="#contacts">Contacts</a>
            </li>
        </ul>
    </div>
   
    
</section>


