<section class="reviews">
    <h2 class="second">Reviews</h2>
    <img src="./images/program/DONUT img/pic.jpg" alt="face" class="reviews_picture">
    <svg class="revies_backcol"><use></use></svg>
    <p class="reviews_name">Will</p>
    <p class="text">Last time I have visited a cooking course by Eva
    I was impressed with the way she explained everything
    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!</p>
    <svg class="reviews_svg"><use></use></svg>
</section>