.header {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    &_btn {
        // justify-self: flex-end;
        width: 30px;
        height: 16px;
        // margin-left: auto;
        
        padding: 0;
        border: 0;

        &-svg {
            width: 30px;
            height: 16px;
            fill: $main-color;
        }
    }
    &_logo {
        
        // justify-self: flex-start;
        fill: $main-color;
    }
    &_container {
        position: absolute;
        
        top: 0;
        left: 0;
        width: 100%;

    }
    &_bcg {
        display: flex;
        
        justify-content: space-between;
        
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    &_background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
       
        width: 100vw;
    }

}